div {
	background: radial-gradient(circle at center, rgb(138, 0, 0) 0%, rgb(138, 0, 0) 100%);
	border-radius: 50px;
	cursor: pointer;
	height: 100px;
	position: relative;
	width: 100px;

	&.active {
		background: radial-gradient(circle at center, rgb(255, 164, 0) 0%, rgb(250, 127, 114) 100%);
		filter: drop-shadow(0 0 10px rgba(250, 128, 114, 0.8));
	}
}
