div {
	align-items: center;
	border: 4px solid white;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 24pt;
	height: 100px;
	justify-content: center;
	width: 150px;

	&.flash {
		background-color: rgb(138, 0, 0);
	}
}
